<div class="card shadow-sm mt-4">
  <div class="card-body text-center">
    <h2 class="mb-3">­Ъј▓ С╗іТЌЦсЂ«сѓесЃ│сѓИсЃІсѓбжЂІтІб ­Ъј▓</h2>
    <p class="animate__animated animate__bounceInDown" style="animation-delay: 0s;"><strong>сѓесЃЕсЃ╝ујЄ:</strong> <span class="text-danger"><%= @fortune.error_rate %></span></p>
    <p class="animate__animated animate__bounceInDown" style="animation-delay: 0.3s;"><strong>сЃљсѓ░жЂІ:</strong> <span class="text-primary"><%= @fortune.bug_fortune %></span></p>
    <p class="animate__animated animate__bounceInDown" style="animation-delay: 0.6s;"><strong>сѓ│сЃЪсЃЃсЃѕсЃЉсЃ»сЃ╝:</strong> <span class="text-success"><%= @fortune.commit_power %></span></p>
  </div>
</div>

<%= button_to fortunes_path, method: :post, class: "btn btn-primary btn-lg mt-4" do %>
  <i class="fas fa-sync-alt"></i> сѓѓсЂєСИђтЏът╝ЋсЂЈ№╝Ђ
<% end %>

<!-- TwitterсѓисѓДсѓб -->
<%= link_to "https://twitter.com/intent/tweet?text=
  сђљсѓесЃ│сѓИсЃІсѓбсЂ┐сЂЈсЂўсЂ«ухљТъюсђЉ%0a
  сѓесЃЕсЃ╝ујЄ : #{@fortune.error_rate}%0a%0a
  РєЊРєЊсђљсѓесЃ│сѓИсЃІсѓбсЂ┐сЂЈсЂўсђЉсѓхсѓцсЃѕсЂДС╗ќсЂ«ухљТъюсѓњУдІсѓІРєЊРєЊ%0a
  &url=#{request.original_url}", class: "btn btn-info btn-lg mt-3", target: "_blank" do %>
  <i class="fab fa-twitter mr-1" style='color: #FFFFFF;'></i>TwitterсЂДсѓисѓДсѓб
<% end %>